<a href="https://colab.research.google.com/github/DashaErshova/Examples001_HelloConsole/blob/main/seminar_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Hello, world!

In [ ]:
import pandas as pd


# data frame
df = pd.read_csv("sample_data/california_housing_test.csv")
df.head() # вывод первых 5-ти значений
df.tail() # вывод последних 5-ти значений

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.shape # размер таблицы

In [ ]:
df.dtypes # вывод типов данных по каждому столбцу

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.info();

In [ ]:
df.isnull().sum() # кол-во значений null в каждом столбце

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.loc[df['median_income'] < 2, 'median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [ ]:
df[['longitude', 'latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [ ]:
df.iloc[2999]['longitude']

-119.63

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
#  & - и(and)
#  | - или(or)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0

In [ ]:
print(df['median_house_value'].min(), df['median_house_value'].max())
df['median_house_value'].describe()

22500.0 500001.0

count      3000.00000
mean     205846.27500
std      113119.68747
min       22500.00000
25%      121200.00000
50%      177650.00000
75%      263975.00000
max      500001.00000
Name: median_house_value, dtype: float64

In [ ]:
df.loc[df['median_income'] == 3.1250, 'median_house_value'].max()

233300.0

In [ ]:
# Узнать какая максимальная population
# в зоне минимального значения median_house_value
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

1230.0